body {
    background-color: #ffffff;
}

.loading {
    background-image: url("../images/loading.gif");
    background-repeat: no-repeat;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    position: absolute;
    display: none;
}
#cartResultDiv {
    display:none;
}

#recommendedProductsResultDiv {
    display: none;
}

#searchResultDiv {
    display: none;
}

.container {
    margin-left: 10%;
    margin-top: 5%;
}

#imaginary_container {
    margin-top: 5%;
}

.stylish-input-group .input-group-addon {
    background: white !important;
}

.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}

.stylish-input-group button {
    border: 0;
    background: transparent;
}